*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-blue:#1F2937;
    --link-color:#E5E7EB;
    --light-blue:#3883F6;


}

h1,
h2,
h3,
h4,
div,
ul,
li,
a,
header,
p,
html, 
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto',sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 60px ;
    background-color: var(--dark-blue);
    color: white;
}

.left-header-items,
.right-header-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-header-items {
    font-size: 24px;
    margin-left: 20px;
}
.right-header-items{
    margin-right: 20px;
}
img {
    border-radius: 50%;
    height:40px;
    width:40px;
}

header a {
    text-decoration: none; 
    color: var(--link-color);
    font-size: 14px;
}


/* main content */

/* intro */
main {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.intro {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-blue);
    color: white;
    padding :16px;
    justify-content: center;
    gap: clamp(50px,6% ,150px);
    padding-top: 100px ;
    padding-bottom: 100px ;
}

.intro-text{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 200px;
    justify-content: space-between;

}

.intro-header {
    font-size: 24px;
}

.intro-subtext {
 font-size: 14;
}

.image-placeholder {
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.intro button {
    width: 90px;
    background: var(--light-blue);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* random info */

#random-info{
    margin-top: 60px;
    margin-bottom: 60px;

}
#random-info h2 {
    text-align: center;
    color: var(--dark-blue);
    font-size: 24px;
    margin-bottom: 40px; ;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-size: 12px;
    text-align: center;
    gap: 10px;
}

.box-image {
    width: 125px;
    height: 125px;
    border: var(--light-blue) solid 5px;
    border-radius: 10px;
}

/* quote */

#quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--link-color);
    padding: 100px;
    
}

.quote {
    font-size: 38px;
    font-style:italic;
    font-weight: 1;
}
.author {
    text-align: end;
    width: 100%;
}

/* CTA */